#field{
	display:block;
	border: 1px solid black;
	position: relative;
}
#ball{
	position: absolute;
	background-image: url(ball.png);
	transition-property: left,top;
	transition-duration: 100ms;
	transition-timing-function: linear;
}
#board{
	position: absolute;
	bottom: 0px;
	background-color: black;

}